@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* lato fonts */
.lato-thin {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.lato-light {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.lato-black {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.lato-thin-italic {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.lato-light-italic {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.lato-regular-italic {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.lato-bold-italic {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.lato-black-italic {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: italic;
}

/* lato fonts ends */

* {
    padding: 0px;
    margin: 0px;
}

/** common **/
.text-center {
    text-align: center;
}

.w-full {
    width: 100%;
}

.h-full {
    height: 100%;
}

/** positions **/
.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.top-5px {
    top: 5px;
}

/** end positions **/

/** end common **/

.login-bg-img {
    width: 100%;
    height: calc(100vh-10px);
}

.login-bg {
    background-color: rgba(0, 0, 0, 0.4);
}

.login-container {
    height: 100vh;
    width: 100%;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-content {
    height: 45%;
    width: 40%;
    background-color: rgba(0, 0, 0, 0.7);
    ;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 10px;
}

.inputs {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 10%;
    width: 100%;
    align-items: center;
}

.inputs input {
    margin: 10px 0;
    height: 30px;
    font-size: 16px;
    color: black;
}

.inputs input[type='text'] {
    text-indent: 10px;
    font-weight: 500;
    outline: none;
    border: none;
    width: 100%;
}

.inputs input[type='submit']:hover {
    background-color: red;
}

.inputs input[type='submit'] {
    background-color: rgba(213, 0, 0, .75);
    border: none;
    width: 60%;
    color: white;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.logo {
    padding-left: 10px;
}

.dashboard-main {
    display: flex;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(235, 235, 235, 0.281);
}

.dashboard-menus {
    width: 20%;
    box-shadow: 5px 2px 10px rgba(0, 0, 0, 0.772);
}

.black-opacity-75 {
    background-color: rgba(0, 0, 0, 0.902);
}

.dashboard-menus-section {
    width: 80%;
    /* background-color: lightgreen; */
    /* padding-left: 10px; */
}

.logo-container {
    border-bottom: 1px solid black;
}

.logo-dash {
    width: 120px;
    height: 70px;
}

.dashboard-menu-items {
    padding-left: 20px;
}

.dashboard-menu-item {
    display: flex;
    align-items: center;
    gap: 30px;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    padding: 10px 0;
    margin: 5px 0;
}

.dashboard-menu-item-icon {
    margin: 0;
}

.dashboard-title {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    color: black;
    font-size: 18px;
    margin: 10px 0 10px 10px;
    line-height: 32px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.dashboard-menu-item-title {
    line-height: 32px;
    letter-spacing: 0.5px;
    font-weight: 500;
    cursor: pointer;
}

.dashboard-title:nth-child(2) {
    margin: 30px 0;
}

/* menu dropdown */
.dashboard-dropbtn {
    border: none;
    background: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;
}

.dashboard-dropdown {
    position: relative;
    display: inline-block;
}

.dashboard-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dashboard-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dashboard-dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

/* menu dropdown ends */

.dashboard-menu-item-link {
    text-decoration: none;
    color: black;
}

.dashboard-menu-container {
    background-color: #F9F7F7;
    margin-left: 10px;
}

.dashboard-header {
    /* background-color: lightgreen; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    font-family: "Lato", sans-serif;
}

.dashboard-header-title {
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 1.5px;
    color: #707793;
}

.dashboard-menu-search-box {
    background-color: #EAE8E8;
    display: flex;
    align-items: center;
    padding: 7px 10px;
    border-radius: 10px;
}

.dashboard-menu-search-box input {
    height: 25px;
    min-width: 100px;
    outline: none;
    border: none;
    text-indent: 10px;
    border-radius: 10px;
    background-color: #EAE8E8;
    color: black;
}

.dashboard-header-menus {
    display: flex;
    align-items: center;
}

.dashboard-header-user {
    margin: 0 10px 0 10px;
}

.dashboard-types {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    justify-items: center;
}

.dashboard-type-item {
    background-color: white;
    aspect-ratio: 1.4;
    width: 30%;
    height: auto;
    max-height: 188px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    border-radius: 10px;
    box-shadow: 2px 0px 3px rgba(92, 92, 92, 0.5);
}

.dashboard-type-container {
    max-width: 200px;
    max-height: 140px;
}

.dashboard-type-img {
    aspect-ratio: 2;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.dashboard-title-text {
    text-transform: uppercase;
    color: #313B5E;
    font-size: large;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    padding: 10px 0;
    cursor: default;
}

.dashboard-title-text:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
}

.dashboard-types-table {
    background: white;
    margin: 10px 30px;
    border-radius: 10px;
}

.dash-types-table-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Lato", sans-serif;
    padding: 20px;
}

.dash-header-title {
    font-size: large;
    color: #313B5E;
    text-transform: capitalize;
    font-weight: 700;
    letter-spacing: 1.2px;
    line-height: 32px;
}

.dash-types-table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
}

.dash-types-table td,
.dash-types-table th {
    border-top: 1px solid #9c4040;
    border-bottom: 1px solid #9c4040;
    padding: 8px;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: small;
}

.dash-types-table tr:nth-child(1) {
    border: none;
}

.dash-types-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.dash-types-table td {
    padding: 15px 0;
}

.dash-types-table tr:hover {
    background-color: #ddd;
}

.dash-types-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    color: #313B5E;
    font-size: medium;
    font-family: "Lato", sans-serif;
}

.action-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.view-container,
.edit-container,
.delete-container {
    width: auto;
    padding: 0 5px;
    border-radius: 5px;
    cursor: pointer;
}

.view-container {
    background-color: #d0ffb1;
}

.edit-container {
    background-color: #d0d0d0;
}

.delete-container {
    background-color: #ff9d9d;
}

.dash-header-add-btn {
    padding: 10px 20px;
    background-color: #313B5E;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: small;
    font-weight: 700;
    cursor: pointer;
}

.input-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.input-label {
    font-family: "Lato", sans-serif;
    color: black;
    font-size: 16px;
    padding: 5px 0;
    font-weight: 600;
    padding-bottom: 10px;
}

.input-text,
.input-textarea {
    width: 100%;
    text-indent: 10px;
    border-radius: 5px;
    border: 1px solid #C4C4C4;
}

.input-text {
    height: 30px;
}

.input-text:focus,
.input-textarea:focus {
    outline-color: rgba(213, 0, 0, 80);
}

.input-img-upload .input-img-icon {
    height: 3vh;
    width: 7vw;
    background-color: rgba(213, 0, 0, 80);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
}

.input-uploaded-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    width: 300px;
}

.input-uploaded-img .uploaded-img {
    height: 100%;
    width: 100%;
}

.upload-img {
    display: flex;
    align-items: center;
    column-gap: 30px;
    width: 100%;
    height: 300px;
}

.cropped-img {
    margin-top: 20px;
    height: 100px;
    width: 100px;
    border-radius: 10px;
    display: none;
}

.input-select {
    width: 100%;
    height: 30px;
    border: 1px solid #C4C4C4;
    background-color: white;
    border-radius: 5px;
}

.input-select:focus {
    outline-color: rgba(213, 0, 0, 80);
}

.input-radio-content {
    display: flex;
    align-items: center;
    column-gap: 7px;
}

.input-radio {
    width: 18px;
    height: 18px;
    accent-color: rgba(213, 0, 0, 80);
}

.input-radio-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 20px;
}

.buttons {
    padding: 30px 0;
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.btn-cancel,
.btn-submit {
    width: 110px;
    height: 40px;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.btn-cancel {
    background-color: black;
    color: white;
}

.btn-submit {
    background-color: rgba(213, 0, 0, 80);
    color: black;
}

.add-type-form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.type-form-section {
    display: flex;
    align-items: start;
    column-gap: 50px;
}

.crop-btn {
    border: none;
    outline: none;
    background-color: #D50000;
    color: white;
    width: 80px;
    height: 30px;
    border-radius: 10px;
    margin-top: 20px;
}

.mt-50px {
    margin-top: 50px;
}

/* registration */

.regitration-form {
    display: flex;
    justify-content: center;
}

/* Full-width input fields */
.register-text-input,
.register-password-input {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
.register-text-input:focus,
.register-password-input:focus {
    background-color: #ddd;
    outline: none;
}

.action-btns {
    /* display: flex;
    justify-content: space-around;
    columns: 2; */
}

/* Set a style for all buttons */
.btn-cancel,
.btn-submit {
    display: block;
    color: white;
    margin: 15px 0;
    border: none;
    cursor: pointer;
    opacity: 0.9;
}

.btn-cancel:hover,
.btn-submit:hover {
    opacity: 1;
}

/* Extra styles for the cancel button */
.btn-cancel {
    background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.btn-cancel,
.btn-submit {
    width: 30%;

}

.btn-submit {
    background-color: #04AA6D;
}

/* Add padding to container elements */
.container {
    padding: 16px;
}

/* Style the horizontal ruler */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {

    .btn-cancel,
    .btn-submit {
        width: 100%;
    }
}

/** registraton ends **/