@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'robotoRegular';
    src: url('../../static/fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'robotoThin';
    src: url('../../static/fonts/Roboto-Thin.ttf');
}

@font-face {
    font-family: 'robotoLight';
    src: url('../../static/fonts/Roboto-Light.ttf');
}

@font-face {
    font-family: 'robotoMedium';
    src: url('../../static/fonts/Roboto-Medium.ttf');
}

@font-face {
    font-family: 'robotoBold';
    src: url('../../static/fonts/Roboto-Bold.ttf');
}

@font-face {
    font-family: 'robotoBlack';
    src: url('../../static/fonts/Roboto-Black.ttf');
}

@font-face {
    font-family: 'michromaRegular';
    src: url('../../static/fonts/Michroma-Regular.ttf');
}

@font-face {
    font-family: 'latoThin';
    src: url('../../static/fonts/Lato-Thin.ttf');
}

@font-face {
    font-family: 'latoLight';
    src: url('../../static/fonts/Lato-Light.ttf');
}

@font-face {
    font-family: 'latoRegular';
    src: url('../../static/fonts/Lato-Regular.ttf');
}

@font-face {
    font-family: 'latoBold';
    src: url('../../static/fonts/Lato-Bold.ttf');
}

@font-face {
    font-family: 'latoBlack';
    src: url('../../static/fonts/Lato-Black.ttf');
}
