@tailwind base;
@tailwind components;
@tailwind utilities;

/* font starts */
@font-face {
    font-family: 'robotoRegular';
    src: url('../../static/fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'robotoThin';
    src: url('../../static/fonts/Roboto-Thin.ttf');
}

@font-face {
    font-family: 'robotoLight';
    src: url('../../static/fonts/Roboto-Light.ttf');
}

@font-face {
    font-family: 'robotoMedium';
    src: url('../../static/fonts/Roboto-Medium.ttf');
}

@font-face {
    font-family: 'robotoBold';
    src: url('../../static/fonts/Roboto-Bold.ttf');
}

@font-face {
    font-family: 'robotoBlack';
    src: url('../../static/fonts/Roboto-Black.ttf');
}

@font-face {
    font-family: 'michromaRegular';
    src: url('../../static/fonts/Michroma-Regular.ttf');
}

@font-face {
    font-family: 'latoThin';
    src: url('../../static/fonts/Lato-Thin.ttf');
}

@font-face {
    font-family: 'latoLight';
    src: url('../../static/fonts/Lato-Light.ttf');
}

@font-face {
    font-family: 'latoRegular';
    src: url('../../static/fonts/Lato-Regular.ttf');
}

@font-face {
    font-family: 'latoBold';
    src: url('../../static/fonts/Lato-Bold.ttf');
}

@font-face {
    font-family: 'latoBlack';
    src: url('../../static/fonts/Lato-Black.ttf');
}

@font-face {
    font-family: 'dancingScriptRegular';
    src: url('../../static/fonts/DancingScript-Regular.ttf');
}

@font-face {
    font-family: 'dancingScriptMedium';
    src: url('../../static/fonts/DancingScript-Medium.ttf');
}

@font-face {
    font-family: 'dancingScriptSemibold';
    src: url('../../static/fonts/DancingScript-SemiBold.ttf');
}

@font-face {
    font-family: 'dancingScriptBold';
    src: url('../../static/fonts/DancingScript-Bold.ttf');
}

/* font ends */

.hamburger-center {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* .hamburger-slide {
    transition: all 0.3 linear;
} */

/* hamburger slider starts */

.hamburger-sidepanel  {
    width: 0;
    position: fixed;
    z-index: 1;
    height: 250px;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .hamburger-sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .hamburger-sidepanel a:hover {
    color: #f1f1f1;
  }
  
  .hamburger-sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color:#444;
  }

  /* hamburger slider ends */


.style-type-text-shadow {
    text-shadow: 2.5px 2.5px 3px black;
}

.navbar-fixed {
    position: fixed;
    z-index: 999;
}