/env
/.idea/
/backend/backend/__pycache__/
/backend/client/__pycache__/
/backend/admin/__pycache__/
*/__pycache__/
*.pyc
*.sqlite3

# Virtual environments
venv/
env/

# Environment variables
.env

# Data directory
data/

# Static files
**/static/