{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/boardman/main.css' %}">
</head>
<body class="login_bg">

    <section>
        {% block content %}

        {% endblock %}
    </section>

    <!-- <script src="{% static 'js/boardman/main.js' %}"></script> -->
    <script src="{% static 'js/boardman/boardman_events.js' %}"></script>
</body>
</html>