
{% extends 'boardman/base.html' %}
{% load static %}
{% block title %}
Dashboard
{% endblock %}

{% block content %}
<!-- <div class="">
    <h1>Dashboard</h1>

</div> -->
<section class="dashboard-main">
    <div class="dashboard-menus">
        <!-- logo -->
        <div class="w-full text-center logo-container">
            <img src="{% static 'images/logo.svg' %}" 
            class="logo-dash" />
        </div>
        <!-- logo ends -->
        <div class="dashboard-menu-items">
            <h1 class="dashboard-title">Menu</h1>
            <div class="dashboard-menu-item">
                <img src="{% static 'images/icons/overview.svg' %}"
                    alt="overview"
                    class="dashboard-menu-item-icon" />
                <div class="dashboard-menu-item-title">Overview</div>
            </div>

            <div class="dashboard-menu-item">
                <img src="{% static 'images/icons/statistics.svg' %}"
                    alt="overview"
                    class="dashboard-menu-item-icon" />
                <div class="dashboard-menu-item-title">Statistics</div>
            </div>

            <div class="dashboard-menu-item">
                <img src="{% static 'images/icons/customers.svg' %}"
                    alt="overview"
                    class="dashboard-menu-item-icon" />
                <div class="dashboard-menu-item-title">Customers</div>
            </div>

            <div class="dashboard-menu-item">
                <img src="{% static 'images/icons/inventory.svg' %}"
                    alt="overview"
                    class="dashboard-menu-item-icon" />
                <div class="dashboard-menu-item-title">Inventory</div>
            </div>

            <h1 class="dashboard-title">General</h1>
            <div class="dashboard-menu-item">
                <img src="{% static 'images/icons/settings.svg' %}"
                    alt="overview"
                    class="dashboard-menu-item-icon" />
                <div class="dashboard-menu-item-title">Settings</div>
            </div>

            <div class="dashboard-menu-item">
                <img src="{% static 'images/icons/security.svg' %}"
                    alt="overview"
                    class="dashboard-menu-item-icon" />
                <div class="dashboard-menu-item-title">Security</div>
            </div>
        </div>
    </div>
    <div class="dashboard-menus-section">2</div>
</section>

{% endblock %}