{% extends 'boardman/layouts/menu-container.html' %}
{% load static %}
{% block dashboard_header_title %}
  <h1>Add Category</h1>
{% endblock %}
{% block dashboard_menu_content %}
  <div class="add-type-form">
    <form method="POST" action="" enctype="multipart/form-data">
      {% csrf_token %}

      <div class="input-section">
        <label for="title" class="input-label">Title</label>
        <input id="title" class="input-text" name="title" placeholder="eg. Shoe" value="{{ request.POST.title }}" />
      </div>

      <div>
        <div class="input-section">
          <h1 class="input-label">Add image</h1>
          <div class="upload-img">
            <div class="input-uploaded-img">
              <img id="type_add_image_container" class="uploaded-img" src="{% static 'images/blank_image.jpg' %}" alt="image" />
              <button class="crop-btn" onclick="handleCroppedBtn(event, 'cat_upload_img')">Crop</button>
            </div>
            <label class="input-img-upload">
              <div class="input-img-icon">
                <img src="{% static 'images/icons/upload.svg' %}" />
              </div>
              <input type="file" 
                id="cat_upload_img" 
                name="image" 
                hidden
                onchange="onChangeImageInput(event)"
               />
            </label>
          </div>
          <img id="cropped_img" class="cropped-img" src="{% static 'images/blank_image.jpg' %}" alt="image" />
        </div>
      </div>

      <div class="input-section">
        <label for="" class="input-label">Status</label>
        <div class="input-radio-container">
            <div class="input-radio-content">
                <input type="radio" id="active" name="status" 
                value="active" class="input-radio" />
                <label for="active" class="lato-regular">Active</label>
            </div>
            <div class="input-radio-content">
                <input type="radio" id="deactive" name="status" 
                value="deactive" class="input-radio" />
                <label for="deactive" class="lato-regular">Deactive</label>
            </div>
        </div>
      </div>

      <div class="buttons">
        <button class="btn-cancel" type="button"
          onclick="onHandleCategoryList(event)">Cancel</button>
        <button class="btn-submit" type="submit">Submit</button>
      </div>
    </form>
  </div>
{% endblock %}
