{% extends 'boardman/layouts/menu-container.html' %}
{% load static %}
{% block dashboard_header_title %}
  <h1>Add Type</h1>
{% endblock %}
{% block dashboard_menu_content %}
  <div class="add-type-form">

    <p>{{ categories }}</p>
    <form method="POST" action="" enctype="multipart/form-data">
      {% csrf_token %}

      <div class="input-section">
        <label for="title" class="input-label">Title</label>
        <input id="title" class="input-text" name="title" placeholder="eg. Shoe" value="{{ request.POST.title }}" />
      </div>

      <div class="input-section">
        <h1 class="input-label">Add image</h1>
        <div class="upload-img">
          <div class="input-uploaded-img">
            <img class="uploaded-img" src="{% static 'images/blank_image.jpg' %}" alt="image" />
          </div>
          <label class="input-img-upload">
            <div class="input-img-icon">
              <img src="{% static 'images/icons/upload.svg' %}" />
            </div>
            <input type="file" id="myFile" name="filename" hidden />
          </label>
        </div>
      </div>

      <div class="input-section">
        <label class="input-label">Category</label>
        <select class="input-select" value="{{ request.POST.status }}">
            <option value="" disabled>Select Category</option>
            <option>Cat A</option>
            <option>Cat B</option>
            <option>Cat C</option>
        </select>
      </div>

      <div class="input-section">
        <label for="" class="input-label">Status</label>
        <div class="input-radio-container">
            <div class="input-radio-content">
                <input type="radio" id="active" name="status" 
                value="active" class="input-radio" />
                <label for="active">Active</label>
            </div>
            <div class="input-radio-content">
                <input type="radio" id="deactive" name="status" 
                value="deactive" class="input-radio" />
                <label for="deactive">Deactive</label>
            </div>
        </div>
      </div>

      <div class="buttons">
        <button class="btn-cancel" type="button">Cancel</button>
        <button class="btn-submit" type="submit">Submit</button>
      </div>
    </form>
  </div>
{% endblock %}
