{% extends 'boardman/layouts/menu-container.html' %}
{% load static %}
{% block dashboard_header_title %}
  <h1>Add Type</h1>
{% endblock %}
{% block dashboard_menu_content %}
  <div class="add-type-form">
    <form method="POST" action="" enctype="multipart/form-data">
      {% csrf_token %}

      <div class="type-form-section">
        <div>
          <div class="input-section">
            <label for="title" class="input-label">Title</label>
            {% comment %} {{form.title}} {% endcomment %}
            <input name="title" class="input-text">
          </div>

          <div class="input-section">
            <label class="input-label">Category</label>
            <select class="input-select" 
            value="{{ request.POST.status }}"
            name="category_id">
              <option value="" disabled>Select Category</option>
              {% for category in categories %}
                <option 
                  value="{{ category.id }}">{{ category.title }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="input-section">
            <label for="" class="input-label">Status</label>
            <div class="input-radio-container">
              <div class="input-radio-content">
                <input type="radio" id="active" name="status" value="active" class="input-radio" />
                <label for="active">Active</label>
              </div>
              <div class="input-radio-content">
                <input type="radio" id="deactive" name="status" value="deactive" class="input-radio" />
                <label for="deactive">Deactive</label>
              </div>
            </div>
          </div>
        </div>

        <div>
          <div class="input-section">
            <div id="type-img-container">
              <h1 class="input-label">Add image</h1>
              <div class="upload-img">
                <div class="input-uploaded-img">
                  <img id="type_add_image_container" class="uploaded-img" src="{% static 'images/blank_image.jpg' %}" alt="image" />
                  <button class="crop-btn" onclick="handleCroppedBtn(event, 'type_upload_img', 'type-img-container')">Crop</button>
                </div>
                <label class="input-img-upload">
                  <div class="input-img-icon">
                    <img src="{% static 'images/icons/upload.svg' %}" />
                  </div>
                  <input type="file" 
                    id="type_upload_img" 
                    name="image" 
                    hidden
                    onchange="onChangeImageInput(event, 'type_add_image_container')"
                   />
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="buttons">
        <button class="btn-cancel" type="button"
          onclick="onHandleAddTypeCancel(event)">Cancel</button>
        <button class="btn-submit" type="submit">Submit</button>
      </div>
    </form>
  </div>
{% endblock %}
