{% load django_vite %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        {% vite_hmr_client %}
        {% vite_asset 'js/main.js' %}
        {% vite_asset 'css/boardman/main.css' %}
        <title>Django inertia-1</title>
        
        <link rel="stylesheet" href="">
    </head>
    <body>
        <div>
            {% block inertia %}{% endblock %}
        </div>
    </body>
</html>